# Complete T-SQL 101: From Basics to Procedures

Welcome to the comprehensive T-SQL learning guide! This notebook covers everything from basic commands to advanced procedures, joins, and functions.

## Learning Path:
1. **Basic Commands** (DDL, DML, TCL)
2. **Data Types and Variables**
3. **Joins and Relationships**
4. **Functions and Expressions**
5. **Stored Procedures**
6. **Views and CTEs**
7. **Advanced Topics**

## Setup: Create Learning Database

Let's start by creating a comprehensive database with multiple related tables to practice joins and procedures.

In [ ]:
-- Create learning database
CREATE DATABASE CompanyDB;
USE CompanyDB;

## Create Related Tables for Learning Joins

We'll create a company structure with Departments, Employees, and Projects to demonstrate relationships.

In [ ]:
-- Create Departments table
CREATE TABLE Departments (
    DepartmentID INT IDENTITY(1,1) PRIMARY KEY,
    DepartmentName NVARCHAR(50) NOT NULL,
    Location NVARCHAR(50),
    Budget DECIMAL(12,2)
);

In [ ]:
-- Create Employees table
CREATE TABLE Employees (
    EmployeeID INT IDENTITY(1,1) PRIMARY KEY,
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Email NVARCHAR(100) UNIQUE,
    DepartmentID INT,
    Salary DECIMAL(10,2),
    HireDate DATE DEFAULT GETDATE(),
    ManagerID INT,
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID),
    FOREIGN KEY (ManagerID) REFERENCES Employees(EmployeeID)
);

In [ ]:
-- Create Projects table
CREATE TABLE Projects (
    ProjectID INT IDENTITY(1,1) PRIMARY KEY,
    ProjectName NVARCHAR(100) NOT NULL,
    StartDate DATE,
    EndDate DATE,
    Budget DECIMAL(12,2),
    DepartmentID INT,
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
);

In [ ]:
-- Create Employee-Project assignments (many-to-many relationship)
CREATE TABLE ProjectAssignments (
    AssignmentID INT IDENTITY(1,1) PRIMARY KEY,
    EmployeeID INT,
    ProjectID INT,
    Role NVARCHAR(50),
    HoursAllocated INT,
    FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID),
    FOREIGN KEY (ProjectID) REFERENCES Projects(ProjectID)
);

## Insert Sample Data

Let's populate our tables with realistic data to practice with.

In [ ]:
-- Insert Departments
INSERT INTO Departments (DepartmentName, Location, Budget)
VALUES 
    ('IT', 'Building A', 500000.00),
    ('HR', 'Building B', 200000.00),
    ('Finance', 'Building C', 300000.00),
    ('Marketing', 'Building A', 250000.00),
    ('Operations', 'Building D', 400000.00);

In [ ]:
-- Insert Employees
INSERT INTO Employees (FirstName, LastName, Email, DepartmentID, Salary, HireDate, ManagerID)
VALUES 
    ('John', 'Smith', 'john.smith@company.com', 1, 75000, '2020-01-15', NULL),
    ('Jane', 'Doe', 'jane.doe@company.com', 2, 65000, '2020-02-01', NULL),
    ('Mike', 'Johnson', 'mike.johnson@company.com', 1, 60000, '2021-03-10', 1),
    ('Sarah', 'Wilson', 'sarah.wilson@company.com', 3, 70000, '2021-05-20', NULL),
    ('Tom', 'Brown', 'tom.brown@company.com', 1, 55000, '2022-01-08', 1),
    ('Lisa', 'Davis', 'lisa.davis@company.com', 4, 58000, '2022-03-15', NULL),
    ('David', 'Miller', 'david.miller@company.com', 2, 52000, '2022-06-01', 2),
    ('Emma', 'Garcia', 'emma.garcia@company.com', 5, 62000, '2023-01-10', NULL);