# SQL Clauses Step-by-Step Practice
## Building Procedures with Essential SQL Clauses

Learn SQL clauses step-by-step by building a token generation procedure.

## Step 1: OUTPUT Parameters

### Concept: OUTPUT Parameters
OUTPUT parameters allow procedures to return values back to the caller.

In [ ]:
-- Basic OUTPUT parameter example
CREATE OR ALTER PROCEDURE GetStatusExample
    @status_code INT = 0 OUTPUT,
    @status_message VARCHAR(200) = '' OUTPUT
AS
BEGIN
    SET @status_code = 200;
    SET @status_message = 'Success';
END

-- Test the OUTPUT parameters
DECLARE @code INT, @msg VARCHAR(200);
EXEC GetStatusExample @status_code = @code OUTPUT, @status_message = @msg OUTPUT;
PRINT 'Code: ' + CAST(@code AS VARCHAR) + ', Message: ' + @msg;

## Step 2: DECLARE Variables

### Concept: Multiple Variable Declaration
DECLARE multiple variables for data processing and temporary storage.

In [ ]:
-- Multiple DECLARE statements
CREATE OR ALTER PROCEDURE DeclareVariablesExample
AS
BEGIN
    DECLARE @token VARCHAR(32) = '';
    DECLARE @char_set VARCHAR(75) = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
    DECLARE @Length INT = 32;
    DECLARE @token_id VARCHAR(32) = '';
    DECLARE @i INT = 1;
    
    PRINT 'Variables declared successfully';
    PRINT 'Character set length: ' + CAST(LEN(@char_set) AS VARCHAR);
    PRINT 'Token length: ' + CAST(@Length AS VARCHAR);
END

EXEC DeclareVariablesExample;

## Step 3: WHILE Loop

### Concept: WHILE Loop for Iteration
Use WHILE loops to repeat operations until a condition is met.

In [ ]:
-- Simple WHILE loop example
CREATE OR ALTER PROCEDURE WhileLoopExample
AS
BEGIN
    DECLARE @i INT = 1;
    DECLARE @result VARCHAR(100) = '';
    
    WHILE @i <= 5
    BEGIN
        SET @result = @result + CAST(@i AS VARCHAR) + ' ';
        SET @i = @i + 1;
    END
    
    PRINT 'Numbers: ' + @result;
END

EXEC WhileLoopExample;

In [ ]:
-- Token generation with WHILE loop
CREATE OR ALTER PROCEDURE TokenGenerationExample
AS
BEGIN
    DECLARE @char_set VARCHAR(75) = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
    DECLARE @Length INT = 8;
    DECLARE @token_id VARCHAR(32) = '';
    DECLARE @i INT = 1;
    
    WHILE @i <= @Length
    BEGIN
        SET @token_id = @token_id + SUBSTRING(@char_set, ABS(CHECKSUM(NEWID())) % LEN(@char_set) + 1, 1);
        SET @i = @i + 1;
    END
    
    PRINT 'Generated Token: ' + @token_id;
END

EXEC TokenGenerationExample;

## Step 4: DELETE Clause

### Concept: DELETE with WHERE Condition
Remove expired records using DELETE with conditional WHERE clause.

In [ ]:
-- Create sample table for demonstration
CREATE TABLE #temp_tokens (
    token_id VARCHAR(32),
    expire_datetime DATETIME DEFAULT DATEADD(HOUR, 1, GETDATE())
);

-- Insert sample data
INSERT INTO #temp_tokens (token_id, expire_datetime) VALUES 
('OLD_TOKEN_1', DATEADD(HOUR, -2, GETDATE())),  -- Expired
('OLD_TOKEN_2', DATEADD(HOUR, -1, GETDATE())),  -- Expired
('VALID_TOKEN', DATEADD(HOUR, 2, GETDATE()));   -- Valid

-- Show before deletion
SELECT 'Before DELETE' AS Status, * FROM #temp_tokens;

-- DELETE expired tokens
DELETE FROM #temp_tokens WHERE expire_datetime < GETDATE();

-- Show after deletion
SELECT 'After DELETE' AS Status, * FROM #temp_tokens;

DROP TABLE #temp_tokens;

## Step 5: INSERT Clause

### Concept: INSERT with Values
Add new records to tables using INSERT statement.

In [ ]:
-- Create sample table
CREATE TABLE #token_master (
    id INT IDENTITY(1,1),
    token_id VARCHAR(32),
    created_date DATETIME DEFAULT GETDATE()
);

-- INSERT example
CREATE OR ALTER PROCEDURE InsertTokenExample
    @new_token VARCHAR(32)
AS
BEGIN
    INSERT INTO #token_master (token_id) VALUES (@new_token);
    
    PRINT 'Rows affected: ' + CAST(@@ROWCOUNT AS VARCHAR);
    
    SELECT * FROM #token_master;
END

EXEC InsertTokenExample @new_token = 'ABC123XYZ';

DROP TABLE #token_master;

## Step 6: IF-ELSE Control Flow

### Concept: Conditional Logic with IF-ELSE
Use IF-ELSE to handle different execution paths based on conditions.

In [ ]:
-- Basic IF-ELSE example
CREATE OR ALTER PROCEDURE IfElseExample
    @test_value INT
AS
BEGIN
    IF @test_value > 0
    BEGIN
        PRINT 'Value is positive: ' + CAST(@test_value AS VARCHAR);
    END
    ELSE
    BEGIN
        PRINT 'Value is zero or negative: ' + CAST(@test_value AS VARCHAR);
    END
END

EXEC IfElseExample @test_value = 5;
EXEC IfElseExample @test_value = -3;

In [ ]:
-- IF-ELSE with @@ROWCOUNT
CREATE OR ALTER PROCEDURE RowCountCheckExample
AS
BEGIN
    CREATE TABLE #test_table (id INT, name VARCHAR(50));
    
    INSERT INTO #test_table VALUES (1, 'Test');
    
    IF @@ROWCOUNT > 0
    BEGIN
        PRINT 'Insert successful. Rows affected: ' + CAST(@@ROWCOUNT AS VARCHAR);
        SELECT 'Success' AS Status, 200 AS StatusCode;
    END
    ELSE
    BEGIN
        PRINT 'Insert failed';
        SELECT 'Failed' AS Status, 400 AS StatusCode;
    END
    
    DROP TABLE #test_table;
END

EXEC RowCountCheckExample;

## Step 7: SELECT Clause

### Concept: SELECT for Output
Use SELECT to return data and results from procedures.

In [ ]:
-- SELECT with variables
CREATE OR ALTER PROCEDURE SelectOutputExample
AS
BEGIN
    DECLARE @token_id VARCHAR(32) = 'ABC123';
    DECLARE @status_code INT = 200;
    DECLARE @status_message VARCHAR(200) = 'Created';
    
    -- Return multiple values in one SELECT
    SELECT 
        @token_id AS token_id,
        @status_code AS status_code,
        @status_message AS status_message;
END

EXEC SelectOutputExample;

## Step 8: Complete Token Generation Procedure

### Putting It All Together
Combine all clauses into a complete token generation procedure.

In [ ]:
-- Complete token generation procedure
CREATE OR ALTER PROCEDURE mobile_bearer_token_generate
    @status_code INT = 0 OUTPUT,
    @status_message VARCHAR(200) = '' OUTPUT
AS
BEGIN
    -- Step 1: DECLARE variables
    DECLARE @token VARCHAR(32) = '';
    DECLARE @char_set VARCHAR(75) = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
    DECLARE @Length INT = 32;
    DECLARE @token_id VARCHAR(32) = '';
    DECLARE @i INT = 1;
    
    -- Step 2: WHILE loop for token generation
    WHILE @i <= @Length
    BEGIN
        SET @token_id = @token_id + SUBSTRING(@char_set, ABS(CHECKSUM(NEWID())) % LEN(@char_set) + 1, 1);
        SET @i = @i + 1;
    END
    
    -- Step 3: Create temp table for demo
    CREATE TABLE #mobile_token_master (
        token_id VARCHAR(32),
        expire_datetime DATETIME DEFAULT DATEADD(HOUR, 24, GETDATE())
    );
    
    -- Step 4: DELETE expired tokens
    DELETE FROM #mobile_token_master WHERE expire_datetime < GETDATE();
    
    -- Step 5: INSERT new token
    INSERT INTO #mobile_token_master (token_id) VALUES (@token_id);
    
    -- Step 6: IF-ELSE based on @@ROWCOUNT
    IF @@ROWCOUNT > 0
    BEGIN
        SELECT @status_code = 200;
        SELECT @status_message = 'Created';
    END
    ELSE
    BEGIN
        SELECT '' AS token_id;
        SELECT @status_code = 400;
        SELECT @status_message = 'Token Generation Failed';
    END
    
    -- Step 7: SELECT final output
    SELECT @token_id AS token_id, @status_code AS status_code, @status_message AS status_message;
    
    DROP TABLE #mobile_token_master;
END

In [ ]:
-- Test the complete procedure
DECLARE @code INT, @msg VARCHAR(200);
EXEC mobile_bearer_token_generate @status_code = @code OUTPUT, @status_message = @msg OUTPUT;
PRINT 'Final Status - Code: ' + CAST(@code AS VARCHAR) + ', Message: ' + @msg;

## Practice Exercises

### Exercise 1: Build Your Own Token Procedure
Create a procedure that generates a 16-character token using only numbers.

In [ ]:
-- Your solution here
CREATE OR ALTER PROCEDURE GenerateNumericToken
    @token_length INT = 16,
    @generated_token VARCHAR(32) OUTPUT
AS
BEGIN
    -- Complete this procedure using the concepts learned
END

### Exercise 2: Conditional Token Cleanup
Create a procedure that deletes tokens older than a specified number of hours.

In [ ]:
-- Your solution here
CREATE OR ALTER PROCEDURE CleanupOldTokens
    @hours_old INT,
    @deleted_count INT OUTPUT
AS
BEGIN
    -- Use DELETE with DATEADD and @@ROWCOUNT
END

## Key Concepts Summary

### Clause Execution Order:
1. **DECLARE** - Define variables
2. **WHILE** - Loop through operations
3. **DELETE** - Remove unwanted data
4. **INSERT** - Add new data
5. **IF-ELSE** - Conditional logic
6. **SELECT** - Return results

### Best Practices:
- Use OUTPUT parameters for return values
- Check @@ROWCOUNT after DML operations
- Handle both success and failure scenarios
- Use meaningful variable names
- Include proper error handling