# T-SQL 101: Basic Commands and Keywords

Welcome to T-SQL 101! Learn Microsoft SQL Server's Transact-SQL from the ground up, starting with individual commands and keywords.

## SQL Command Categories

T-SQL commands are organized into categories:
- **DDL (Data Definition Language)**: CREATE, ALTER, DROP, TRUNCATE
- **DML (Data Manipulation Language)**: SELECT, INSERT, UPDATE, DELETE
- **DCL (Data Control Language)**: GRANT, REVOKE, DENY
- **TCL (Transaction Control Language)**: BEGIN, COMMIT, ROLLBACK

Let's start with the most basic commands!

## Exercise 1: Your First T-SQL Command - SELECT

**Task**: Write a query to see all available databases on your SQL Server instance.

**Hint**: Use the `sys.databases` system view and SELECT the `name` column.

In [ ]:
-- Solution: List all databases
SELECT name AS DatabaseName
FROM sys.databases;

## Exercise 2: USE Command - Switch Database Context

**Task**: Switch to a specific database called 'secExpense'.

**Syntax**: `USE database_name;`

**Purpose**: Changes the current database context for subsequent commands.

In [ ]:
-- Solution: Switch to secExpense database
USE secExpense;

## Exercise 3: DDL Command - CREATE DATABASE

**Task**: Create a new database called 'LearningSQL'.

**Syntax**: `CREATE DATABASE database_name;`

**Note**: This is a DDL (Data Definition Language) command that defines database structure.

In [ ]:
-- Solution: Create a new database
CREATE DATABASE LearningSQL;

## Exercise 4: DDL Command - CREATE TABLE

**Task**: Create a table called 'Employees' with the following columns:
- EmployeeID (integer, primary key, auto-increment)
- FirstName (text, required)
- LastName (text, required)
- Email (text, unique)
- HireDate (date, default to current date)

**Keywords to use**: CREATE TABLE, INT, NVARCHAR, PRIMARY KEY, IDENTITY, NOT NULL, UNIQUE, DEFAULT

In [ ]:
-- Solution: Create Employees table
USE LearningSQL;

CREATE TABLE Employees (
    EmployeeID INT IDENTITY(1,1) PRIMARY KEY,
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Email NVARCHAR(100) UNIQUE,
    HireDate DATE DEFAULT GETDATE()
);

## Exercise 5: DML Command - INSERT

**Task**: Add 3 employees to the Employees table.

**Syntax**: `INSERT INTO table_name (columns) VALUES (values);`

**Note**: This is a DML (Data Manipulation Language) command that manipulates data.

In [ ]:
-- Solution: Insert employee records
INSERT INTO Employees (FirstName, LastName, Email)
VALUES 
    ('John', 'Smith', 'john.smith@company.com'),
    ('Jane', 'Doe', 'jane.doe@company.com'),
    ('Mike', 'Johnson', 'mike.johnson@company.com');

## Exercise 6: DML Command - SELECT with WHERE

**Task**: Retrieve all employees whose first name starts with 'J'.

**Keywords**: SELECT, FROM, WHERE, LIKE

**Wildcard**: Use '%' for multiple characters, '_' for single character

In [ ]:
-- Solution: Select employees with names starting with 'J'
SELECT EmployeeID, FirstName, LastName, Email, HireDate
FROM Employees
WHERE FirstName LIKE 'J%';

## Exercise 7: DML Command - UPDATE

**Task**: Update Jane Doe's email to 'jane.doe.updated@company.com'.

**Syntax**: `UPDATE table_name SET column = value WHERE condition;`

**Warning**: Always use WHERE clause to avoid updating all rows!

In [ ]:
-- Solution: Update specific employee's email
UPDATE Employees
SET Email = 'jane.doe.updated@company.com'
WHERE FirstName = 'Jane' AND LastName = 'Doe';

## Exercise 8: DDL Command - ALTER TABLE

**Task**: Add a new column 'Department' (text, 50 characters) to the Employees table.

**Syntax**: `ALTER TABLE table_name ADD column_name data_type;`

**Purpose**: Modify existing table structure without losing data.

In [ ]:
-- Solution: Add Department column
ALTER TABLE Employees
ADD Department NVARCHAR(50);

## Exercise 9: DML Command - UPDATE with New Column

**Task**: Update the Department for all employees:
- John Smith: 'IT'
- Jane Doe: 'HR'
- Mike Johnson: 'Finance'

In [ ]:
-- Solution: Update department information
UPDATE Employees SET Department = 'IT' WHERE FirstName = 'John' AND LastName = 'Smith';
UPDATE Employees SET Department = 'HR' WHERE FirstName = 'Jane' AND LastName = 'Doe';
UPDATE Employees SET Department = 'Finance' WHERE FirstName = 'Mike' AND LastName = 'Johnson';

## Exercise 10: DML Command - SELECT with ORDER BY

**Task**: Display all employees ordered by their last name alphabetically.

**Keywords**: SELECT, FROM, ORDER BY, ASC (ascending), DESC (descending)

In [ ]:
-- Solution: Select all employees ordered by last name
SELECT EmployeeID, FirstName, LastName, Email, Department, HireDate
FROM Employees
ORDER BY LastName ASC;

## Exercise 11: DDL Command - CREATE INDEX

**Task**: Create an index on the Email column to improve query performance.

**Syntax**: `CREATE INDEX index_name ON table_name (column_name);`

**Purpose**: Indexes speed up data retrieval operations.

In [ ]:
-- Solution: Create index on Email column
CREATE INDEX IX_Employees_Email ON Employees (Email);

## Exercise 12: System Information Queries

**Task**: Write queries to get information about your database objects:
1. List all tables in current database
2. List all columns in the Employees table
3. List all indexes on the Employees table

In [ ]:
-- Solution: Database object information queries

-- 1. List all tables
SELECT TABLE_NAME, TABLE_TYPE
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE';

In [ ]:
-- 2. List all columns in Employees table
SELECT COLUMN_NAME, DATA_TYPE, IS_NULLABLE, COLUMN_DEFAULT
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'Employees';

In [ ]:
-- 3. List all indexes on Employees table
SELECT 
    i.name AS IndexName,
    i.type_desc AS IndexType,
    c.name AS ColumnName
FROM sys.indexes i
INNER JOIN sys.index_columns ic ON i.object_id = ic.object_id AND i.index_id = ic.index_id
INNER JOIN sys.columns c ON ic.object_id = c.object_id AND ic.column_id = c.column_id
WHERE i.object_id = OBJECT_ID('Employees');

## Exercise 13: DML Command - DELETE

**Task**: Delete the employee with EmployeeID = 3 (Mike Johnson).

**Syntax**: `DELETE FROM table_name WHERE condition;`

**Warning**: Always use WHERE clause to avoid deleting all rows!

In [ ]:
-- Solution: Delete specific employee
DELETE FROM Employees
WHERE EmployeeID = 3;

## Exercise 14: DDL Command - DROP INDEX

**Task**: Remove the index we created on the Email column.

**Syntax**: `DROP INDEX index_name ON table_name;`

In [ ]:
-- Solution: Drop the email index
DROP INDEX IX_Employees_Email ON Employees;

## Exercise 15: TCL Commands - Transaction Control

**Task**: Use transaction control to safely insert a new employee. If any error occurs, rollback the changes.

**Keywords**: BEGIN TRANSACTION, COMMIT, ROLLBACK, TRY, CATCH

In [ ]:
-- Solution: Transaction with error handling
BEGIN TRANSACTION;

BEGIN TRY
    INSERT INTO Employees (FirstName, LastName, Email, Department)
    VALUES ('Sarah', 'Wilson', 'sarah.wilson@company.com', 'Marketing');
    
    -- If we reach here, commit the transaction
    COMMIT TRANSACTION;
    PRINT 'Employee added successfully!';
END TRY
BEGIN CATCH
    -- If error occurs, rollback
    ROLLBACK TRANSACTION;
    PRINT 'Error occurred: ' + ERROR_MESSAGE();
END CATCH;

## Exercise 16: DDL Command - TRUNCATE vs DELETE

**Task**: Understand the difference between TRUNCATE and DELETE.

**TRUNCATE**: Removes all rows, resets identity, faster, cannot use WHERE

**DELETE**: Can remove specific rows, slower, can use WHERE clause

First, let's see current data, then demonstrate TRUNCATE.

In [ ]:
-- Solution: Show difference between TRUNCATE and DELETE

-- First, see current data
SELECT * FROM Employees;

In [ ]:
-- TRUNCATE removes all data and resets identity counter
-- Uncomment the next line to test (WARNING: removes all data!)
-- TRUNCATE TABLE Employees;

## Exercise 17: DDL Command - DROP TABLE

**Task**: Remove the Employees table completely.

**Syntax**: `DROP TABLE table_name;`

**Warning**: This permanently deletes the table and all its data!

In [ ]:
-- Solution: Drop the table (uncomment to execute)
-- DROP TABLE Employees;

## Exercise 18: DDL Command - DROP DATABASE

**Task**: Remove the LearningSQL database completely.

**Syntax**: `DROP DATABASE database_name;`

**Note**: You cannot drop a database while connected to it.

In [ ]:
-- Solution: Drop the database (uncomment to execute)
-- USE master;  -- Switch to master database first
-- DROP DATABASE LearningSQL;

## Summary: T-SQL Command Categories

You've now learned the basic T-SQL commands in each category:

### DDL (Data Definition Language):
- `CREATE DATABASE` - Create new database
- `CREATE TABLE` - Create new table
- `ALTER TABLE` - Modify table structure
- `CREATE INDEX` - Create performance index
- `DROP INDEX` - Remove index
- `DROP TABLE` - Remove table
- `DROP DATABASE` - Remove database
- `TRUNCATE TABLE` - Remove all table data quickly

### DML (Data Manipulation Language):
- `SELECT` - Retrieve data
- `INSERT` - Add new data
- `UPDATE` - Modify existing data
- `DELETE` - Remove specific data

### TCL (Transaction Control Language):
- `BEGIN TRANSACTION` - Start transaction
- `COMMIT` - Save changes permanently
- `ROLLBACK` - Undo changes

### Key Concepts Learned:
- Primary keys and identity columns
- Data types (INT, NVARCHAR, DATE)
- Constraints (NOT NULL, UNIQUE, DEFAULT)
- Wildcards in WHERE clauses (LIKE, %)
- System views (INFORMATION_SCHEMA)
- Error handling (TRY-CATCH)
- Transaction safety

## Next Steps:
Practice these basic commands until you're comfortable, then move on to:
- Advanced SELECT queries (JOINs, subqueries)
- Functions and expressions
- Stored procedures
- Views and CTEs