# T-SQL Practice Notebook
## Comprehensive Guide to SQL Server Stored Procedures and Concepts

This notebook covers essential T-SQL concepts including stored procedures, data types, variables, functions, and SQL execution flow.

## 1. Basic Stored Procedures

### 1.1 No Parameter Procedure
A simple stored procedure without any parameters.

In [ ]:
-- Create a basic procedure with no parameters
CREATE PROCEDURE TestProcedureOne
AS 
BEGIN
	PRINT 'TestProcedureOne'
END

-- Execute the procedure
EXEC TestProcedureOne

## 2. Stored Procedures with Parameters

### 2.1 VARCHAR Parameter
Working with string parameters in stored procedures.

In [ ]:
-- VARCHAR parameter example
CREATE OR ALTER PROCEDURE TestProcedureTwo
	@TestParameter VARCHAR(11)
AS 
BEGIN
	PRINT 'Hi,' + @TestParameter + '!'
END

EXEC TestProcedureTwo @TestParameter = 'John'

### 2.2 Numeric Parameters
Working with different numeric data types.

In [ ]:
-- INT parameter with CAST conversion
CREATE OR ALTER PROCEDURE ProcIntExample
	@TestParameter INT
AS 
BEGIN
	PRINT 'Hi,' + CAST(@TestParameter AS VARCHAR(10)) + '!'
END

EXEC ProcIntExample @TestParameter = 11

In [ ]:
-- FLOAT parameter example
CREATE OR ALTER PROCEDURE ProcFloatExample
    @TestParameter FLOAT
AS 
BEGIN
    PRINT 'Hi,' + CAST(@TestParameter AS VARCHAR(30)) + '!'
END

EXEC ProcFloatExample @TestParameter = 11.123

In [ ]:
-- DECIMAL parameter example
CREATE OR ALTER PROCEDURE ProcDecimalExample
    @Amount DECIMAL(10, 2)
AS
BEGIN
    PRINT 'Amount is: ' + CAST(@Amount AS VARCHAR(20));
END;

EXEC ProcDecimalExample @Amount = 123.45

### 2.3 Date and Time Parameters

In [ ]:
-- DATE parameter
CREATE OR ALTER PROCEDURE ProcDateExample
    @BirthDate DATE
AS
BEGIN
    PRINT 'Birth date: ' + CAST(@BirthDate AS VARCHAR(12));
END;

EXEC ProcDateExample @BirthDate = '1990-05-15'

In [ ]:
-- DATETIME parameter
CREATE OR ALTER PROCEDURE ProcDateTimeExample
    @CreatedDate DATETIME
AS
BEGIN
    PRINT 'Created at: ' + CAST(@CreatedDate AS VARCHAR(23));
END;

EXEC ProcDateTimeExample @CreatedDate = '2023-12-25 14:30:00'

### 2.4 Special Data Types

In [ ]:
-- BIT parameter (Boolean)
CREATE OR ALTER PROCEDURE ProcBitExample
    @IsActive BIT
AS
BEGIN
    PRINT CASE WHEN @IsActive = 1 THEN 'Active' ELSE 'Inactive' END;
END;

EXEC ProcBitExample @IsActive = 1
EXEC ProcBitExample @IsActive = 0

In [ ]:
-- UNIQUEIDENTIFIER (GUID) parameter
CREATE OR ALTER PROCEDURE ProcUniqueIdentifierExample
    @UserID UNIQUEIDENTIFIER
AS
BEGIN
    PRINT 'Received GUID: ' + CAST(@UserID AS VARCHAR(36));
END;

EXEC ProcUniqueIdentifierExample @UserID = NEWID()

## 3. SQL Server Data Types Reference

### 3.1 Numeric Types
- **INT**: Integer numbers (-2,147,483,648 to 2,147,483,647)
- **BIGINT**: Large integers (-9,223,372,036,854,775,808 to 9,223,372,036,854,775,807)
- **SMALLINT**: Smaller integers (-32,768 to 32,767)
- **DECIMAL(p,s)**: Fixed precision and scale decimals
- **FLOAT**: Floating-point numbers

### 3.2 Character/String Types
- **CHAR(n)**: Fixed-length strings
- **VARCHAR(n)**: Variable-length strings
- **TEXT**: Large text (deprecatedâ€”use VARCHAR(MAX))
- **NCHAR(n)**: Fixed-length Unicode strings
- **NVARCHAR(n)**: Variable-length Unicode strings

### 3.3 Date and Time Types
- **DATE**: Date only (YYYY-MM-DD)
- **TIME**: Time only (HH:MM:SS)
- **DATETIME**: Date and time
- **DATETIME2**: More precision date and time
- **SMALLDATETIME**: Less precision
- **DATETIMEOFFSET**: Date and time with timezone offset

### 3.4 Other Types
- **BIT**: Boolean (0 or 1)
- **BINARY(n)**: Fixed-length binary data
- **VARBINARY(n)**: Variable-length binary data
- **UNIQUEIDENTIFIER**: GUID
- **XML**: XML data
- **TABLE**: Table variable type

## 4. Local Variables with DECLARE

### 4.1 When to use DECLARE?
Use DECLARE inside procedures to create local variables for temporary storage and calculations.

In [ ]:
-- VARCHAR local variable example
CREATE OR ALTER PROCEDURE PrintLocalVarExample
AS
BEGIN
	DECLARE @Name VARCHAR(20);
	SET @Name = 'John';

	PRINT 'Hello, ' + @Name + '!';
END;

EXEC PrintLocalVarExample;

In [ ]:
-- INT local variable example
CREATE OR ALTER PROCEDURE PrintLocalIntExample
AS
BEGIN
    DECLARE @LocalVar INT;
    SET @LocalVar = 10;
    
    PRINT 'The value of LocalVar is: ' + CAST(@LocalVar AS VARCHAR(10));
END;

EXEC PrintLocalIntExample;

## 5. Built-in Functions

### 5.1 Function Categories
- **String functions**: Manipulate text data
- **Numeric functions**: Work with numbers
- **Date & Time functions**: Handle dates and times
- **Conversion functions**: Convert between data types
- **Aggregate functions**: Perform calculations on sets of rows (SUM, COUNT)
- **Logical functions**: ISNULL(), COALESCE()
- **System functions**: Return info about SQL Server, sessions, etc.

In [ ]:
-- String Functions Example
CREATE OR ALTER PROCEDURE StringFunctionsExample
    @Input VARCHAR(50)
AS
BEGIN
    PRINT 'Original Input: ' + @Input;

    -- LEN() - Length of the string
    PRINT 'Length: ' + CAST(LEN(@Input) AS VARCHAR);

    -- SUBSTRING() - Extract substring (start at 2, length 5)
    PRINT 'Substring(2,5): ' + SUBSTRING(@Input, 2, 5);

    -- REPLACE() - Replace 'a' with 'X'
    PRINT 'Replace ''a'' with ''X'': ' + REPLACE(@Input, 'a', 'X');

    -- LEFT() - First 3 characters
    PRINT 'Left 3 chars: ' + LEFT(@Input, 3);

    -- RIGHT() - Last 3 characters
    PRINT 'Right 3 chars: ' + RIGHT(@Input, 3);

    -- CHARINDEX() - Position of 'e' in string
    PRINT 'Position of ''e'': ' + CAST(CHARINDEX('e', @Input) AS VARCHAR);
END;

EXEC StringFunctionsExample @Input = 'Hello World'

## 6. SQL Query Execution Flow

### 6.1 Logical Processing Order
Understanding the order in which SQL Server processes query clauses:

1. **FROM** - Tables and views are identified, JOINs processed, aliases assigned
2. **ON** - JOIN conditions are evaluated
3. **JOIN** - Rows from joined tables are combined
4. **WHERE** - Rows filtered based on conditions
5. **GROUP BY** - Rows grouped into aggregates
6. **WITH CUBE/ROLLUP** - Aggregations with subtotals (if used)
7. **HAVING** - Groups filtered after aggregation
8. **SELECT** - Columns, expressions, functions evaluated
9. **DISTINCT** - Duplicate rows removed if requested
10. **ORDER BY** - Final result sorted
11. **OFFSET/FETCH** - Rows paginated (skip/fetch)

In [ ]:
-- Example showing execution flow with aliases
SELECT e.FirstName, e.LastName  -- Step 8: Use alias here, already known
FROM Employees AS e             -- Step 1: Alias 'e' assigned here
WHERE e.Department = 'Sales';   -- Step 4: Alias used here for filtering

## 7. Practice Exercises

### Exercise 1: Create a Multi-Parameter Procedure
Create a stored procedure that accepts multiple parameters of different data types and displays formatted output.

In [ ]:
-- Your solution here
CREATE OR ALTER PROCEDURE MultiParamExample
    @Name VARCHAR(50),
    @Age INT,
    @Salary DECIMAL(10,2),
    @IsActive BIT,
    @HireDate DATE
AS
BEGIN
    -- Complete this procedure
END

### Exercise 2: String Manipulation Challenge
Create a procedure that takes a full name and separates it into first and last name using string functions.

In [ ]:
-- Your solution here
CREATE OR ALTER PROCEDURE SplitNameExample
    @FullName VARCHAR(100)
AS
BEGIN
    -- Use CHARINDEX and SUBSTRING to split the name
END

## 8. Next Steps: Advanced T-SQL Concepts

### Topics to Explore Next:
- **Control-of-Flow Statements**: IF...ELSE, WHILE loops, CASE expressions
- **Error Handling**: TRY...CATCH blocks
- **Transactions**: BEGIN TRANSACTION, COMMIT, ROLLBACK
- **Joins and Set Operations**: INNER JOIN, LEFT JOIN, UNION, etc.
- **Subqueries and CTEs**: Common Table Expressions
- **Temporary Tables and Table Variables**
- **Aggregations & Grouping**: GROUP BY, HAVING
- **Advanced Stored Procedure Features**: Output parameters, Return codes

### Best Practices:
1. Always use `CREATE OR ALTER` for procedures to avoid errors
2. Use appropriate data types for parameters
3. Include proper error handling in production code
4. Comment your code for better maintainability
5. Test procedures with various input scenarios